@import "~antd/dist/antd.less";

.top-nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.logo {
  height: 70px;
  margin-left: 25px;
}

.top-nav-menu-container {
  display: flex;
  align-items: center;
  height: 70px;
  padding-right: 35px;
  font-size: 1.2em;
  font-weight: 400;
  color: white;
}

.menu-item {
  margin-left: 25px;
  cursor: pointer;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #79b100;
  position: sticky;
  top: -150px;
}

.content-placeholder {
  background-color: rgb(217, 255, 0);
  height: 100px;
  margin-left: 50px;
  margin-right: 50px;
  position: sticky;
  top: 60px;
}
.content-placeholder2 {
  background-color: rgb(217, 255, 0);
  height: 2000px;
  margin-left: 50px;
  margin-right: 50px;
}

.top {
  top: 0px;
  width: 100%;
  background-color: gray;
  position: sticky;
  top: -150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  z-index: 1;
}

.green {
  background-color: #79b100;
  height: 300px;
  width: 100%;
}

.yellow-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.yellow {
  background-color: rgb(255, 255, 255);
  height: 70px;
  width: 94%;
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  position: absolute;
  bottom: -5px;
  border-radius: 5px;
  box-shadow: 1px 9px 11px 0px rgba(255, 255, 255, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  display: flex;
  justify-content: center;
}

.bottom {
  width: 90%;
  background-color: rgb(255, 255, 255);
  // z-index: -10;
}

.search-container {
  position: absolute;
  top: 0px;
}

.search {
  z-index: 10;
}

.big-logo-container {
  display: flex;
  justify-content: center;
}

.big-logo {
  height: 120px;
}
.title h1 {
  color: white;
  margin-top: -15px;
}

.opacity-zero {
  opacity: 0%;
}
.small-logo-container {
  display: flex;
  align-items: center;
}
.small-logo-container h3 {
  color: white;
}

.waiting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labels-container span {
  margin-bottom: 8px;
  font-size: 1.1em;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 5px;
}

.labels-container span.labels-label {
  margin-bottom: 8px;
  font-size: 1.1em;
  padding-left: 0px;
}

.submit-ad {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.submit-ad button {
  width: 150px;
  height: 34px;
}

.adcard-back-div {
  background-color: rgb(243, 245, 239);
  margin-bottom: 24px;
}

.card-footer {
  padding: 8px 12px 4px 12px;
  min-height: 82px;
}
.video-title p {
  font-weight: 600;
  font-size: 1.05em;
  margin-bottom: 12px;
}

.footer-tags {
  display: flex;
  justify-content: space-between;
}

.footer-tags .brand .ant-tag-purple {
  margin-right: 0px;
}

.footer-tags span {
  padding-bottom: 4px;
  margin-bottom: 8px;
}
.collapse-icon {
  cursor: pointer;
  padding-top: 4px;
}

.second-tags span {
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.first-tags {
  display: inline-block;
}
.no-display {
  display: none;
}
.ant-tag {
  cursor: pointer;
}

.top-filters-container {
  width: 96%;
  display: flex;
  justify-content: start;
}

.top-filters-container span {
  padding: 3px;
  padding-left: 10px;
  font-size: 1.05em;
  font-weight: bold;
}
